name: CI - Build, Test, Containerize, Deploy

on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint requests

    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py')

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Define Image Tag
      id: vars
      run: echo "TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

    - name: Build Docker image with commit SHA tag
      run: docker build -t fazeelmakhri/weather-cli-app:${TAG} .

    - name: Test Docker image
      run: docker run fazeelmakhri/weather-cli-app:${TAG} London

    - name: Push Docker image
      run: docker push fazeelmakhri/weather-cli-app:${TAG}
    
    

